@using TestingControllers.ViewModels
@model IEnumerable<SessionViewModel>
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
	<div class="col-md-9">
		@foreach (var session in Model)
		{
			<div class="panel panel-default">
				<div class="panel-heading">
					@session.Name
				</div>
				<div class="panel-body">
					@session.DateCreated
				</div>
			</div>
		}
	</div>
	<div class="col-md-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Add New Session
			</div>
			<div class="panel-body">
				<form method="post" asp-controller="Home" asp-action="Index">
					<fieldset class="form-group">
						<label for="sessionName">New Session Name</label>
						<input type="text" class="form-control" id="sessionName" name="SessionName" placeholder="Name" required />
					</fieldset>
					<input type="submit" value="Save" id="SaveButton" name="SaveButton" class="btn btn-primary" />
				</form>
			</div>
		</div>
	</div>
</div>

